* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer {
    background-color: #94BCE3;
    font-family: sans-serif;
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: space-between
}

.footer h2 {
    text-align: center;
    color: #373737;
    padding-top: 1rem;
    font-size: 16px;
}

.footer ul {
    list-style-type: none;
    padding: 1rem;
    color: #565656;
    font-size: 12px;
}

.phone-li, .email-li {
    margin-top: 1rem;
}

.shortcuts-ul li, .partners-ul li {
    margin-top: 1rem;
}

.underline {
    background-color: #468BCE;
    min-height: 20px;
    max-height: 50px;
}

.overhead {
    background-color: #468BCE;
    min-height: 20px;
    max-height: 50px;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header_Logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 7px;
    margin-left: 10rem;
}

.header_UL {
    list-style-type: none;
    margin: 7px;
    margin-right: 10rem;
}

.header_UL li {
    display: inline;
    padding: 2rem;
}

.header a {
    text-decoration: none;
    color: #1B203D;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.la-search {
    display: none;
}

.header_Input {
    border-radius: 1rem;
    padding: 3px;
    background-color: #D9D9D9;
    color: #1B203D;
}

.mobile {
    max-width: 100%;
    margin: auto;
    background-color: #468BCE;
    color: white;
    min-height: 10px;
    max-height: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-item {
    list-style: none;
  }

.nav-link {
    color: #1B203D;
    text-decoration: none;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1B203D;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.card-section {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10rem;
    padding-right: 10rem;
}

.card-section a {
    text-decoration: none;
    color: black;
}

.cards {
    max-width: 200px;
    padding: 1rem;
    
}

.card-text {
    text-align: center;
    background-color: 579CDF;
    max-width: 200px;
}

.card-image {
    max-height: auto;
    max-width: 200px;
}

.mainpage {
    display: flex;
    justify-content: center;
    padding-left: 20rem;
    padding-right: 20rem;
    flex-wrap: wrap;
    max-width: 1300px;
    width: auto;
    margin-bottom: 15px;
}

.csm-card {
    background-color: #8BC6FF;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.csm-card h2 {
    margin-top: 10px;
}

.newsletter {
    background-color: #8BC6FF;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.news-div {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px; 
}

.news-button {
    width: 200px;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    font-size: 24px;
    border-radius: 6px;
    border: none;
    background-color: #468BCE;
    color: #2F2F2F;
    margin-bottom: 10px;
}

.news-input input {
    width: 100%;
    background-color: #DDECFB;
    border: none;
    margin-top: 5px;
    height: 20px;
}

.tickets {
    background-color: #8BC6FF;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    width: 28%;
}

.ticket-button {
    margin-top: 60px;
    width: 170px;
    height: 35px;
    font-size: 24px;
    border-radius: 6px;
    border: none;
    background-color: #468BCE;
    color: #2F2F2F;
}

.news-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #3E3E3E;
}

.news-topcard {
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 1300px;
    width: 100%;
}

.news-card {
    background-color: #8BC6FF;
    max-width: auto;
    width: 30%;
    margin: 7.5px;
    height: auto;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news-card p {
    max-width: 200px;
    margin-top: 10px;
    font-size: 20px;
}

.visit-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.visit-top {
    text-align: center;
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
}

.visit-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.visit-adress {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 10rem;
}

.visit-adress ul {
    list-style-type: none;
}

.tickets-main {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3E3E3E;
    margin-left: 10rem;
    margin-right: 10rem;
}

.ticket-top {
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}   

.ticket-middle {
    display: flex;
    max-width: 1300px;
    width: 100%;
}

.price-list {
    display: flex;
    justify-content: space-around;
}

.price-list ul {
    list-style-type: none;
}

.ticket-price {
    width: 20%;
    background-color: #8BC6FF;
    text-align: center;
    padding: 10px;
}

.ticket-information {
    background-color: #8BC6FF;
    width: 79%;
    margin-left: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ticket-information p {
    max-width: 700px;
    width: 100%;
}

.ticket-bot {
    max-width: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ticket-bot div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.ticket-input {
    height: 30px;
    background-color: #DDECFB;
    border: none;
}

.ticket-form-btn {
    display: flex;
    text-align: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.ticket-btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    background-color: #468BCE;
    color: #2F2F2F;
}

.vehicle-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.vehicle-top {
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
}

.vehicle-top p {
    font-size: 24px;
    max-width: 800px;
    margin: auto;
}

.vehicle-middle {
    max-width: 1300px;
    width: 100%;
    margin-top: 30px;
}

.vr-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.vr-top {
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
}

.vr-top p {
    font-size: 20px;
}

.vr-mid {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.vr-activities {
    background-color: #8BC6FF;
    margin-right: 30px;
    max-width: 200px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.vr-activities ul {
    list-style-type: none;
    margin: 1rem;
}

.vr-activities ul li {
    font-size: 20px;
    margin-top: 5px;
}

.vr-booking {
    background-color: #8BC6FF;
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.vr-booking h2, .vr-book-name, .vr-book-email, .vr-book-players, .vr-book-btn {
    grid-column-start: 1;
    grid-column-end: -1;
}

.vr-booking div {
    margin: 10px;
}

.vr-book-input label {
    font-size: 20px;
    align-self: center;
    justify-self: center;
}

.vr-book-input input, .vr-book-input select {
    background-color: #DDECFB;
    border: none;
    height: 25px;
}

.vr-book-name input, .vr-book-email input {
    max-width: 700px;
    width: 100%;
}

.vr-book-btn input {
    width: 100px;
    height: 35px;
    background-color: #468BCE;
    color: #2F2F2F;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
}

.science-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.science-top {
    background-color: #8BC6FF;
    max-width: 1300px;
    width: 100%;
    text-align: center;
}

.science-top p {
    font-size: 20px;
    margin-bottom: 5px;
}

.science-mid {
    max-width: 1300px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.science-form {
    display: grid;
    grid-template-columns: auto auto;
}

.science-form-input input {
    max-width: 500px;
    width: 100%;
    height: 35px;
    background-color: #DDECFB;
    border: none;
    padding: 5px;
    margin: 10px;
}

.science-btn input {
    width: 100px;
    height: 35px;
    background-color: #468BCE;
    color: #2F2F2F;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.science-btn {
    grid-column-start: 1;
    grid-column-end: -1;
}

@media screen and (max-width: 1100px) {
    .header_UL li {
        padding: 0rem;
    }
    .card-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 820px) {
    .header {
        display: none;
    }
    .mobile {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hamburger.Active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.Active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.Active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #468BCE;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        font-size: 20px;
        font-weight: 600;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-menu.Active {
        left: 0;
    }
}